footer.footer
  .container.text-right
    span.text-muted
      p Vragen? 
        a("href=mailto:rwever@rarivierenland.nl") Mail rwever@rarivierenland.nl 
        a(href='https://github.com/psi-4ward/psitransfer' target='_blank') | Broncode door PsiTransfer
